{% if site.data.certifications %}
<div class="interests-container container-block">

  <h2 class="container-block-title">Certifications</h2>

    <ul class="list-unstyled interests-list">
      {% for certificate in site.data.certifications %}

      {% if certificate.link %}
        <li><a href="{{ certificate.link }}">{{ certificate.item }}</a></li>
        {% else %}
        <li>{{ certificate.item }}</li>
        {% endif %}

      {% endfor %}
    </ul>

</div><!--//certificates-->
{% endif %}
