{% if site.data.educations %}
<div class="education-container container-block">
	<h2 class="container-block-title">Education</h2>

	<ul class="list-unstyled interests-list">
		{% for education in site.data.educations %}

		<div class="meta">

			<div class="upper-row-custom">
				<div class="degree">{{ education.degree }}</div>
				<div class="degree-time">{{ education.time }}</div>
			</div>
			<!--//upper-row-->

			<div class="university">{{ education.university }}</div>
			<div class="location"> {{ education.location }}</div>

		</div>
		<!--//meta-->
		{% endfor %}
	</ul>
</div>
<!--//section-->
{% endif %}