{% if site.data.experiences %}
<section class="section experiences-section">
	<h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

	{% if site.data.experiences.experience %}
	{% for experience in site.data.experiences.experience %}
	<div class="meta">
		<div class="upper-row">
			<h3 class="job-title">{{ experience.role }}</h3>
			<div class="time">{{ experience.time }}</div>
		</div>
		<div class="company">{{ experience.company }}</div>
	</div>
	{% endfor %}
	{% endif %}

	{% if site.data.experiences.details %}
	<ul type="disc" class="experience-list interests-list">
		{%for detail in site.data.experiences.details %}
		<li>{{ detail.points }}</li>
		{% endfor %}
	</ul>
	{% endif %}

</section>
{% endif %}